.lexigraphyPage {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin-top: 3rem;
	margin-inline: auto;
	width: fit-content;
	justify-content: space-around;
}

.lexigraphCard,
.lexigraphCard img {
	padding: 1rem;
	border: 1px solid black;
	border-radius: 5px;
}

.lexigraphCard > div:first-child {
	flex-direction: column;
}

.lexigraphCard {
	width: 15rem;
}

.lexigraphCard,
.lexigraphCard > div:first-child {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
}
.lexigraphCard button {
	margin: 0;
	width: 100%;
}
