.predictionVisualizer {
	position: relative;
	width: 100px;
	height: 100%;
}
.predictionVisualizerRow {
	position: absolute;
	height: 2px;
	position: absolute;
	opacity: 0.75;
}
.flip {
  right: 0;
}
