.performance {
	max-width: 20rem;
}
.performance.good .degree { background: LightGreen; }
.performance.mid .degree { background: Khaki; }
.performance.bad .degree { background: LightCoral; }

@media (prefers-color-scheme: dark) {
	.classA { background: OliveDrab; }
	.classB { background: LightSlateGrey; }
	.classC { background: Teal; }
	.classD { background: Maroon; }

	.performance.good .degree { background: OliveDrab; }
	.performance.mid .degree { background: Chocolate; }
	.performance.bad .degree { background: Maroon; }
}

.performance .degree {
	font-weight: bold;
	border-radius: 5px;
}
.performance > * {
	padding: 0.5rem;
}
