.progressTracker {
	min-height: 3rem;
}

.settings {
	display: flex;
	gap: 1rem;
	flex-direction: row;
}

.tables {
	display: flex;
	gap: 1rem;
	align-items: flex-start;
}

.tables table {
	text-align: right;
}
