@import "tailwindcss";

h1 {
	font-weight: 800;
	font-size: 1.8rem;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
	--letter-color-1: #696969;
  --letter-color-2: #dcdcdc;
  --letter-color-3: #556b2f;
  --letter-color-4: #8b000;
  --letter-color-5: #808000;
  --letter-color-6: #483d8b;
  --letter-color-7: #008000;
  --letter-color-8: #008080;
  --letter-color-9: #4682b4;
  --letter-color-10: #00008b;
  --letter-color-11: #32cd32;
  --letter-color-12: #7f007f;
  --letter-color-13: #8fbc8f;
  --letter-color-14: #d2b48c;
  --letter-color-15: #ff0000;
  --letter-color-16: #00ced1;
  --letter-color-17: #ffa500;
  --letter-color-18: #ffff00;
  --letter-color-19: #c71585;
  --letter-color-20: #00ff00;
  --letter-color-21: #9400d3;
  --letter-color-22: #dc143c;
  --letter-color-23: #f4a460;
  --letter-color-24: #9370db;
  --letter-color-25: #0000ff;
  --letter-color-26: #adff2f;
  --letter-color-27: #ff00ff;
  --letter-color-28: #1e90ff;
  --letter-color-29: #db7093;
  --letter-color-30: #f0e68c;
  --letter-color-31: #fa8072;
  --letter-color-32: #dda0dd;
  --letter-color-33: #ee82ee;
  --letter-color-34: #98fb98;
  --letter-color-35: #87cefa;
  --letter-color-36: #7fffd4;
  --letter-color-37: #ffb6c1;
}

header {
	padding: 1rem 2rem;
	font-size: 1.5rem;
	margin-bottom: 3rem;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
}

header nav ul {
	display: flex;
	gap: 2rem;
}
header nav a {
	border-bottom: 5px solid transparent;
	transition-property: border-color;
	padding-bottom: 1rem;
	transition-duration: 0.15s;
}
header nav a:hover,
header nav a:hover {
	border-color: black;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
	margin: 1rem;
}

@font-face { font-family: manchu0; src: url('http://localhost:5000/lexigraphy/fonts/XM_BiaoHei.ttf'); }
@font-face { font-family: manchu1; src: url('http://localhost:5000/lexigraphy/fonts/XM_GuFeng.ttf'); }
@font-face { font-family: manchu2; src: url('http://localhost:5000/lexigraphy/fonts/XM_LiuYe.ttf'); }
@font-face { font-family: manchu3; src: url('http://localhost:5000/lexigraphy/fonts/XM_ShuKai.ttf'); }
@font-face { font-family: manchu4; src: url('http://localhost:5000/lexigraphy/fonts/XM_WenJian.ttf'); }
@font-face { font-family: manchu5; src: url('http://localhost:5000/lexigraphy/fonts/XM_WenQin.ttf'); }
@font-face { font-family: manchu6; src: url('http://localhost:5000/lexigraphy/fonts/XM_XingShu.ttf'); }
@font-face { font-family: manchu7; src: url('http://localhost:5000/lexigraphy/fonts/XM_YaBai.ttf'); }
@font-face { font-family: manchu8; src: url('http://localhost:5000/lexigraphy/fonts/XM_YingBi.ttf'); }
@font-face { font-family: manchu9; src: url('http://localhost:5000/lexigraphy/fonts/XM_ZhengBai.ttf'); }
@font-face { font-family: manchu10; src: url('http://localhost:5000/lexigraphy/fonts/XM_ZhengHei.ttf'); }

main {
	display: flex;
	gap: 5rem;
}

form {
	display: flex;
	width: fit-content;
}

.manchu-text {
	font-family: manchu1;
	font-size: 1.9rem;
	writing-mode: vertical-lr;
}

select,
button {
	border: 2px solid var(--color-foreground);
	margin: 0 0.5rem;
	padding: 0.5rem;
	height: fit-content;
	border-radius: 5px;
	transition-property: background-color color;
	transition-duration: 0.2s;
}
button:hover,
button:focus {
	background-color: var(--color-foreground);
	color: var(--color-background);
	cursor: pointer;
}

form {
	display: flex;
	flex-direction: column;
}

button[type="submit"] {
	align-self: flex-end;
	display: inline-block;
}

form > .form-fields {
	display: flex;
	justify-content: space-around;
	padding: 0.5rem;
}

figure {
	position: relative;
}
div.slices {
	position: absolute;
	width: 50px;
	height: 330px;
	left: 0;
	top: 20px
}
div.slice {
	width: 100px;
	height: 10px;
}

.prediction img,
figure img {
	width: 100px;
	height: 700px;
}
.lexigraph-word {
	display: flex;
	flex-direction: column;
}

.lexigraph-word .manchu-text {
	margin-top: 20px;
	font-size: 3.8rem;
}

.element-label {
	text-align: center;
}

.lexigraph-word .manchu-text span:nth-child(even),
div.slice:nth-child(even) { background-color: rgba(255, 0, 0, 0.2); }
.lexigraph-word .manchu-text span:nth-child(odd),
div.slice:nth-child(odd) { background-color: rgba(0, 0, 255, 0.2); }

.boundary-setter {
}
.boundary-setter > div {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr;
	margin: 1rem;
}
.boundary-setter input {
	width: 5rem;
	margin: 0 1rem;
	border: 2px solid var(--color-foreground);
	margin: 0 0.5rem;
	padding: 0.5rem;
	height: fit-content;
	border-radius: 5px;
	transition-property: background-color color;
	transition-duration: 0.2s;
}

.prediction {
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: 100px;
}
.slice-letter-prediction {
	height: 2px;
	position: absolute;
	opacity: 0.5;
	left: 90px;
}

.prediction-chart-legend li {
	display: flex;
	gap: 1rem;
}
.prediction-chart-legend li div {
	width: 20px;
	height: 20px;
	border: 1px solid grey;
	border-radius: 5px;
}
