.homepage {
	max-width: 80rem;
	margin-inline: auto;
}

.homepage > section:not(:last-child) {
	margin-bottom: 5rem;
}

.lexigraph {
	width: 100px;
	outline: 1px solid grey;
	border-radius: 5px;
}

.visualizer {
	width: 300px;
	display: grid;
	grid-template-columns: 100px 100px 100px;
}

.visualizerWrapper {
	display: grid;
	grid-template-columns: 100px 100px 100px 1fr;
	grid-template-rows: 6rem 1fr;
	gap: 1rem;
}

.demoWrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media (max-width: 1150px) {
	.demoWrapper {
		gap: 2rem;
	}
}
